<!DOCTYPE html>
<html>
	<head>
		<title>Coder's Momentum</title>
		<link rel="stylesheet" href="assets\css\style.css">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  crossorigin="anonymous"></script>
	</head>

	<body>
	<div class="container">

		<div class="title">
			<h1>Coder's Momentum Extension</h1>

		</div>

		<div class="time">
			<h2>Time</h2>
      time: <%= theTime %>
		</div>

		<div class="weather">
			<h2>Weather</h2>
<!-- 			<p class="location">location</p>
			<p class="icon">icon</p>
		    <canvas id="icon1" width="100" height="100"></canvas>
		    <p class="tempF">tempF</p> -->
		</div>

		<div class="quotes">
			<h2>Inspirational Quotes</h2>
		</div>

		<div class="music">
			<h2>Youtube Music Playlist</h2>
		</div>
	</div>


		<script type="text\javascript" src="assets\js\script.js"></script>
	</body>
</html>

<!-- Code Momentum specific theme? Needs cool name. (Tim)

New tab opens

Shows time -show current time in current area via GPS (Tim) -ability to switch from AM/PM and Military (Tim)

Shows weather -show current temperature in current area via GPS (Tim) -show "feels like" temperature if available (Tim) -convert C*/F* function (Tim)

Show random quote from famous tech gurus? (Tim) -Steve Jobs -Mark Zuckerberg -Bill Gates -etc.

Shows music -ability to stream? -add your favorite youtube coding music playlist (Tim) -->
