body {
	background: url('file:///D:/Web Dev/TurtleTeam11/assets/img/desk.jpg') fixed center;
}

.container {
	text-align: center;
	color:green;

	display: grid;
	justify-content: center;
	justify-items: space-between;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(300px, auto);
	grid-template-areas:
	". tt ."
	"qu tm we"
	". mu .";
}

.container > * {
	margin: 20px;
	padding: 20px;
}

.title {
	background: rgba(0, 0, 255, 0.8);
	grid-area: tt;
}

.time {
	background: rgba(0, 0, 255, 0.3);
	grid-area: tm;
}

.weather {
	background: rgba(0, 0, 255, 0.3);
	grid-area: we;
}

.quotes {
	background: rgba(0, 0, 255, 0.3);
	grid-area: qu;
}

.music {
	background: rgba(0, 0, 255, 0.3);
	grid-area: mu;
}